/* this is a custom css style sheet */

body {
	font-family: 'Karma', serif;
	width: 100%;
	height: auto;
	line-height: normal;
	background-color: #fff !important;
	font-size: 13px;
	 overflow-x: hidden;
}

p {
	font-size: 14px;
}
.section-name {
	font-family: 'Averia Libre';
	font-weight: 300;
	text-transform: uppercase;
}
.overflow-fix {
	margin-left: 15px;
	margin-right: 15px;
}
.chinese {
	font-family: 'STKaiti';
	display: none;
	font-weight: 100;
}
.english {
	display: block;
}
p {
	text-align: justify;
}
html {
	width: 100%;
	height: 100%;
}
#p5canvas {
	position: absolute;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
}
.container {
	margin-left: 0px;
	margin-right: 0px;
}
.section {
	padding-bottom: 6%;
}
.sectionheader {
	padding-bottom: 40px;
}
.subsection {
	margin-bottom: 30px;
}
.fa {
	color: rgb(119, 119, 119);
}
.panel-icons {
	margin-top: 1.2%;
}
.iconbar {
	background-color: rgb(216, 216, 216);
}
.video-wrapper {
	position: relative;
	padding-bottom: 52.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/************************LANDING PAGE****************************/

#landing-page {
	background: rgba(0, 0, 0, 0);
	/*	background: url('/static/img/xKNCBEgSTUGbgBoYgJ90_Skyline.jpg') no-repeat center center;*/
	/*	background-size: cover;*/
	position: relative;
	color: #fff;
	text-transform: uppercase;
}
#landing-page i {
	color: #fff;
	font-size: 1.5em;
}
#landing-page i:hover {
	color: #007bc7;
}
#landing-page #overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
#landing-page-container {
	padding: 180px 0;
}
#landing-page-container button {
	margin: 1em;
	padding: 0.5em 2em 0.4em 2em;
}
#landing-page h1 {
	font-size: 6em;
	position: relative;
	bottom: 5px;
}
#landing-page h2 {
	font-size: 1em;
}
.round-button {
	text-transform: uppercase;
	padding: 0.5em 0.7em 0.4em 0.7em;
	background: rgba(0, 0, 0, 0);
	color: white;
	border: 1px solid white;
	border-radius: 1em;
}
.round-button:hover {
	background: white !important;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0);
}
video#bgvid {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -10000;
	background-size: cover;
}
/********************NAV BAR*******************************************/

nav {
	background-color: #1f282e !important;
	border: none !important;
	text-align: center;
}
nav a {
	color: white !important;
}
nav a:hover {
	color: rgb(240, 247, 237) !important;
}
#nav-bar-logo {
	max-width: 2em;
}
.navbar-brand {
	padding: 0.5em;
}
.navbar-brand:hover {
	opacity: 0.8;
}
.navbar.center .navbar-inner .nav {
	float: none;
	display: inline-block;
}
/********************THEME*********************************************/

/********language switch button******/

#chinese-english {
	text-align: right;
	padding-bottom: 1em;
}
#chinese-english img:hover {
	opacity: 1;
}
#chinese-button {
	width: 50%;
	opacity: 0.2;
}
#english-button {
	width: 50%;
	opacity: 1;
}
.o2 {
	opacity: 0.2 !important;
}
.o1 {
	opacity: 1 !important;
}
#THEME .section-brief {
	padding: 5em 0 5em 0;
	background-color: #af9f8a;
}
#THEME .section-content {
	padding: 0em 0 5em 0;
	background: url('/static/img/green-bg.png') repeat;
}
#THEME .section-name {
	background: url('/static/img/ink-circle.png') no-repeat center center;
	background-size: 30%;
	padding: 8em;
	color: black;
}
#THEME ul {
	list-style: none;
	padding: 1em;
}
#THEME .custom > li > a {
	opacity: 0.6;
}
#THEME .custom > li > a:hover {
	background-color: transparent;
	opacity: 1;
}
#THEME .custom > li.active > a {
	opacity: 1;
	background-color: transparent;
}
#THEME h5 {
	color: black;
	padding: 4em 0 3em 0;
}
#THEME li a {
	background-color: transparent;
	color: rgb(153, 163, 126);
}
#THEME li {
	opacity: 0.4;
}
#THEME li:hover,
#THEME li.active {
	opacity: 1;
}
/*******************PANELS*********************************************/

#PANELS img {
	margin: auto;
}
#PANELS .section-name {
	background: url('/static/img/ink-stroke.png') no-repeat 20% 50%;
	background-size: 60%;
	padding: 15em;
	color: black;
}
#PANELS h4 {
	text-transform: lowercase;
	text-transform: capitalize;
}
#PANELS ul {
	list-style: none;
	padding: 1em 0;
}
#PANELS .section-content {
	background: url('/static/img/green-bg.png') repeat;
}
#panel-top {
	padding-top: 3em;
}
#panel-bottom {
	padding-bottom: 3em;
}
#PANELS li a {
	background-color: transparent;
	color: rgb(153, 163, 126);
}
#PANELS li {
	opacity: 0.4;
}
#PANELS li:hover,
#PANELS li.active {
	opacity: 1;
}
#PANELS img {
	margin: auto;
}
.uppercase {
	text-transform: uppercase;
}
/*********************AGENDA********************************************/

#AGENDA .section-name {
	background: url('/static/img/ink-upperstroke.png') no-repeat 50% 100%;
	background-size: 50%;
	padding: 7em 0em 7em 0em;
	color: black;
}
#AGENDA .fa {
	color: rgb(212, 212, 212);
}
#AGENDA .fa:hover {
	color: rgb(174, 183, 152);
}
#AGENDA li.active .fa {
	color: rgb(174, 183, 152);
}
#AGENDA li a {
	background-color: transparent;
}
#AGENDA li a:hover {
	background-color: transparent;
}
#AGENDA .navpills-collapse.collapse {
	display: block!important;
}
#AGENDA li a h5 {
	color: black;
	white-space: nowrap;
}
#AGENDA li a:hover h5 {
	color: rgb(132, 57, 0);
}
#AGENDA li.active h5 {
	color: rgb(132, 57, 0);
}
#AGENDA li {
	opacity: 0.4;
}
#AGENDA li:hover {
	opacity: 1;
}
#AGENDA li.active {
	opacity: 1;
}
#agenda-icon {
	margin: 0 auto;
}
#AGENDA img {
	width: 120%;
}
#AGENDA #one-two {
	margin-bottom: 3em;
}

/********************ABOUT SECTION***********************************************/

#ABOUT {
	background: url('/static/img/cucampus.jpg') no-repeat top center;
	background-size: 100%;
	color: white;
	opacity: 0.9;
}
#ABOUT .in-parallax-text {
	position: relative;
	margin: 25% 0 20% 0;
	text-align: right;
}
#ABOUT h4 {
	padding: 0em 0em 2em 0em;
}
/**************************TICKETS*************************************/

#TICKETS {
	background: url('/static/img/Roone.jpg') no-repeat top center;
	background-size: cover;
	opacity: 0.9;
	color: white;
}
#TICKETS .in-parallax-text {
	position: relative;
	margin: 25% 0 20% 0;
	text-align: left;
}
#TICKETS h4 {
	padding: 0em 0em 2em 0em;
}
/**************************DIRECTION*************************************/

#DIRECTIONS {
	margin: 15em 0em;
}
#DIRECTIOBS h1 {
	padding-top: 0;
}
address {
	padding: 0 6em 0 6em;
}
#map-canvas {
	height: 400px;
	width: 600px;
	margin: 0 auto;
}
#address-bar {
	padding: 2em 0 1em 0;
}
#DIRECTIONS .round-button {
	text-transform: uppercase;
	padding: 0.5em 0.7em 0.4em 0.7em;
	background: rgba(0, 0, 0, 0);
	color: black;
	border: 1px solid black;
	border-radius: 1em;
}
#DIRECTIONS .round-button:hover {
	background: black !important;
	color: white;
	border: 1px solid rgba(0, 0, 0, 0);
}
#DIRECTIONS h4 {
	padding-right: 0em;
	text-align: justify;
}
/************************SPONSORSHIP***********************************/

#SPONSORSHIP {
	margin: 20em 0;
}


#SPONSORSHIP img {
	opacity: 1;
	display: inline-block;
	margin: 0 auto;
	max-width: 130px !important;
}
#SPONSORSHIP h3 {
	padding-bottom: 2em;
}
/***********************PRE_FOOTER************************************/

#pre-footer {
	color: white;
	text-align: center;
	background-color: rgb(32, 125, 174);
	height: 400px;
}
#pre-footer .fa {
	color: white;
	padding: 0 4px;
}
#pre-footer a:hover {
	opacity: 0.8;
}
#pre-footer a {
	font-size: 1.5em;
}
#pre-footer img {
	margin: auto;
	width: 80px;
	padding-bottom: 0.5em;
}
#pre-footer p {
	padding: 1%;
}
#pre-footer .wrap {
	padding-left: 5px;
	padding-right: 5px;
}
#pre-footer div {
	padding: 6% 0 6% 0;
}
#contact {
	font-size: 1.4em;
	margin: 40px 0;
}
/***********************FOOTER******************************************/

footer {
	/*	overflow: hidden;*/
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: center;
	background-color: #212121;
	color: #fff
}
footer div {
	padding: 4% 0% 4% 0%;
}
#credits {
	/*	opacity: 0.7;*/
	margin-top: 3em;
	padding: 0;
}
#credits h6 {
	/*	font-size: 12px;*/
}
#theBottom {
	position: relative;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	border: solid rgba(0, 0, 0, 0);
}
/***********************About Page******************************************/

#ABOUTPAGE .section-name {
	background: url('/static/img/ink-circle.png') no-repeat center center;
	background-size: 30%;
	padding: 8em;
	color: black;
}
#ABOUTPAGE #TEAM,#panel-advisors-section {
	padding: 15em 0;
}
#ABOUTPAGE .team-member {
	float: left;
	width: 100%;
	opacity: 0.4;
	border: none;
}

#advisors-wall span{
	border: none;
	display: block;
	width: 20%;
	float: left;
	background: #1C2429;
}
#photo-wall span {
	border: none;
	display: block;
	float: left;
	width: 10%;
	/*    display: inline-block;*/
	background: rgb(155, 42, 53);
}

#ABOUTPAGE .team-member:hover {
	border: none;
	opacity: 1;
	/*
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
*/
}
#ABOUTPAGE .section-brief {
	padding: 5em 0 5em 0;
	background-color: #af9f8a;
}
#ABOUTPAGE .section-content {
	padding: 5em 0;
	background: url('/static/img/green-bg.png') repeat;
}
#ABOUTPAGE .section-name {
	background: url('/static/img/ink-circle.png') no-repeat center center;
	background-size: 30%;
	padding: 8em;
	color: black;
}
#ABOUTPAGE a {
	color: #6c6c6c;
}
.tooltip-inner {
	width: 100%;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: rgb(155, 42, 53);
}
.tooltip.top .tooltip-arrow {
	display: none;
}

#advisors-wall .tooltip-inner {
	background-color: #1F282E;
}
/************************* Directions Page **************************/

#directions-content h5 {
	font-size: 2em;
}
#directions-content .section-name {
	background: url('/static/img/ink-stroke.png') no-repeat 40% 60%;
	background-size: 60%;
	padding: 8em;
	color: black;
}
.chi-hong {
	color: rgb(255, 0, 8);
}
/************************ tablet layout ****************************/

@media (max-width: 992px) {
	#ABOUTPAGE span {
		width: 16.66%;
	}
}
/************************ mobile layout ****************************/

@media (max-width: 768px) {
	p {
		text-align: left;
	}
	.section-name {
		font-family: 'Karma', 'SimSun', serif;
		font-weight: 300;
	}
	#landing-page {
		background: url('/static/img/mobilelandingpagebackgroundpic.jpg') no-repeat center center;
		background-size: cover;
		font-size: 80%;
	}
	#landing-page video {
		display: none;
	}
	#landing-page-container {
		padding: 45px 0;
	}
	#ABOUTPAGE,
	#directions-content {
		margin-top: 100px;
	}
	.section-name {
		background: rgba(255, 0, 8, 0) !important;
		background-size: auto;
		padding: 0 !important;
	}
	.cali-list img {
		display: none;
	}
	#ABOUTPAGE .team-member {
		display: none;
	}
}