/* this is a custom css style sheet */
body {
    padding-top: 30px;
    background-color: white;
}

footer {
    padding: 2em 0;
    margin: 3em 0;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
}

.section {
    padding-bottom:  120px;
}

.sectionheader {
    padding-bottom: 40px;   
}

.subsection {
    margin-bottom: 30px;
}

.tb {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:justify;
    /* inline-block space fix */
    margin-right:-4px;
}

.lab-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    margin-right:-4px;
}

.glyphicon {
 color: rgb(119, 119, 119);  
}

.fa {
 color: rgb(119, 119, 119);  
}

.brlabel {
    height: 1px; 
    background-color: rgb(119, 119, 119); 
    text-align: center;
    position: relative;
    bottom: -1.55em;
    z-index: -10;
}

#panel-icons{
margin-top: 1.2%;
}

.iconbar {
    background-color: rgb(216, 216, 216); 
    height: 100px;
}

.label-default {
    font-weight: 300;
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

p.uppercase {text-transform:uppercase;}
p.lowercase {text-transform:lowercase;}
p.capitalize {text-transform:capitalize;}

footer {
  height: 100px;
  background-color: #212121;
  color: #dedede
}


footer .fa{
    color: #dedede;
}
