<!--
designed & developed by Yang Wang & Zhenzhen Qi | 2014 @ NY
yang.wang.dec@gmail.com
zhenzhenqi@gmail.com
-->

<html>

<head>
	<meta charset="utf-8">
	<title>CCPC 2014 | About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700' rel='stylesheet' type='text/css'>
	<link href="/static/css/custom.css" rel="stylesheet">

	<!--js-->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/respond.min.js"></script>
	<script src="/static/js/p5.min.js"></script>
	<script src="/static/js/jquery.scrollTo.min.js"></script>
	<script src="/static/js/skrollr.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB0sBRkVtcxSzyYkyYqW9yrTv34kl5j0kM">
	</script>
	<script src="/static/js/custom.js"></script>
</head>


<body>
	<div class="container-fluid">


		<nav class="navbar navbar-default navbar-inverse center navbar-fixed-top" role="navigation">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">
					<img id="nav-bar-logo" src="/static/img/ccpc_logo.png" />
				</a>


			</div>

			<div class="collapse navbar-collapse" id="collapse">
				<div class="navbar-inner">
					<ul class="nav navbar-nav">
						<li><a href="/#THEME">THEME</a>
						</li>
						<li><a href="/#PANELS">PANELS</a>
						</li>
						<li><a href="/#AGENDA">AGENDA</a>
						</li>
						<li><a href="/#TICKETS">TICKETS</a>
						</li>
						<li><a href="/directions">DIRECTIONS</a>
						</li>
						<li><a href="/#SPONSORSHIP">SPONSORSHIP</a>
						</li>
						<li class="active"><a href="/about">ABOUT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!--history section-->
		<section id="history" class="row section">
			<h1 class="section-name text-center">About</h1>
			<div class="container-fluid green-bg">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
					<p>The Columbia China Prospects Conference (CCPC), launched in 2010, has evolved into one of the most influential student-ot of Cornell University; Shi Wang, Chairman of the Board of Directors of China Vanke Co., Ltd.; Yongchun Lang, famous CCTV host and et al. CCPC was also featured in major Chinese media, both in China and United States: CCTV, Xinhua, China Daily, China Youth Daily, Phoenix, Sina and so on. Therefore, the sparkle of CCPC has been widespread and influenced China’s structure of development strategies. For more information about the previous Columbia China Prospects Conferences, please visit:
						<a href="http://www.ccpc2013.org/">CCPC 2013</a>, <a href="http://www.cucssa.org/ccpc2012/
">CCPC 2012</a>, <a href="http://www.cucssa.org/ccpc2011/">CCPC 2011</a>.

					</p>
				</div>
			</div>
		</section>
		<!--history section ends-->

		<!--team section-->
		<section id="team" class="row">

			<h4 class="section-name text-center">Team</h4>
			<div class="container-fluid section-content">
				<p class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">Founded in 1996, Columbia University Chinese Students and Scholars Association (CUCSSA) is one the most prominent non-profit Chinese organizations in the United States. Since its very first day, CUCSSA has been following its mission of promoting cultural and intellectual exchanges between China and the United States. Thanks to the support of Columbia University and its partners, CUCSSA becomes a major platform where Chinese and American students exchange ideas in economy, culture, business, education and many other topics.</p>
			</div>

			<div class="container-fluid" id="photo-wall">
				{% for name, info in all_members.items() %}
				<img class="team-member" data-toogle="tooltip" data-html=true data-placement='auto' title="<h4>{{ name }}</h4>-<em>{{ info.get('department') }}</em>-</br><h6>{{ info.get('bio') }}</h6>" src="{{ info.get('photo') }}" />{% endfor %}
			</div>


		</section>
		<!--team section ends-->


		<!-- row 9: pre-footer-->
		<section class="row" id="pre-footer">
			<div class="text-center">
				<i class="fa fa-twitter"></i><span class="wrap"></span>
				<i class="fa fa-facebook"></i><span class="wrap"></span>
				<i class="fa fa-wechat"></i><span class="wrap"></span> 
				<i class="fa fa-weibo"></i><span class="wrap"></span> 
			</div>
			<img src="../static/img/qrcode.jpg" alt="">
			<h6> Scan to add us on Wechat</h6>
		</section>
		<!-- end pre-footer-->


		<!-- row 10: FOLLOW US-->
		<footer class="row">
			<div>
				<h6> © CCPC 2014 </h6>
				<h6> Please direct all inquiries to contact@ccpc2014.com </h6>
			</div>
		</footer>




	</div>
</body>


</html>