		<!-- row 9: pre-footer-->
		<section class="row" id="pre-footer">
			<div class="text-center">
				<a target="_blank" href="http://page.renren.com/600700559/index"><i class="fa fa-renren"></i></a>
				<a target="_blank" href="https://www.facebook.com/groups/cucssa/"><i class="fa fa-facebook-square"></i></a>
				<a target="_blank" href="http://www.weibo.com/cucssa"><i class="fa fa-weibo"></i></a>
			</div>
			<img src="../static/img/qrcode.jpg" alt="">
			<h6> Scan to add us on Wechat</h6>

			<h6 id="contact"> Please direct all inquiries to cucssa@columbia.edu</h6>
		</section>
		<!-- end pre-footer-->


		<!-- row 10: FOLLOW US-->
		<footer class="row">
			<div>
				<h6> © CCPC 2014 </h6>

				<div id="credits">
					<h6>Produced by Azure Studio. LLC</h6>
					<h6>Designed & Developed by <a href="http://yangwang.info/">Yang Wang</a> and <a href="http://zhenzhenqi.info">Zhenzhen Qi</a></h6>
				</div>


			</div>
			<hr id="theBottom">
		</footer>