<!-- Designed & Developed By ZZYW.CO -->
<!-- 2014 @ NYC -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CCPC 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
	
	<script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
	<script src="/static/js/jquery.scrollTo.min.js"></script>
	<script src="/static/js/custom.js"></script>
</head>

<body>
<!-- div class="container" -->
	<!-- row 0: navigation -->
    <div class="row">
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                        data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">THEME</a></li>
                    <li><a href="#panels_section">PANELS</a></li>
                    <li><a href="#agenda_section">AGENDA</a></li>
                    <li><a href="#directions_section">DIRECTIONS</a></li>
                    <li><a href="#tickets_section">TICKETS</a></li>
                    <li><a href="#sponsorship_section">SPONSORSHIP</a></li>
                    <li><a href="#about_section">ABOUT</a></li>
                    <li><a href="#contact_section">CONTACT</a></li>
                </ul>  
            </div>
        </nav>
    </div>
   
    <!-- row 1: landing page -->
    <div class="row">
        <img src="../static/img/landingpage.jpg" alt="" class="img-responsive">
    </div>



    <!-- row 2: theme -->
    <div class="row">
    	<img src="../static/img/theme.jpg" alt="" class="img-responsive">
    </div><!-- end theme -->
    <div class="row row-centered">
        <div class="col-large-6 col-md-8 col-xs-10 col-centered container">
            <p>为了更好地服务哥大在校学生以及大纽约地区的华人华侨,联谊会于 2010 年 创办了“哥伦比亚大学中国展望论坛”。学联以世界著名高等学府哥伦比亚大学以及 大都会纽约为依托,创建了一个集中而有效的平台,聚焦于中国当前的发展状况, 着眼于中国未来的发展前景,探索中国未来的发展道路。论坛现已发展成为美东地 区规模最大,最具影响力的中国问题论坛之一。美国前首席助理国务卿 Thomas Fingar、匈牙利前国家首相 Gordon Bajnai、中国著名经济学家许小年,中国地产第 一品牌万科地产董事长王石等各界嘉宾都曾出席过往届论坛。每年论坛都吸引了近 千名来自美国知名高校的莘莘学子以及社会各界人士参加,并受到中国日报、光明 网、中国青年报、新华社、新浪、凤凰网等多家媒体的密切关注。
                在传承与发展往届论坛精髓的基础上,本届论坛也将继续从多个角度探讨中国 在当今世界时局下所选择的发展道路, 并思考其中的意义与可能面临的挑战。在过 去的数年内,中国与世界各国的沟通不断加强,“走出去,走进来”已经不再是一个 愿景,而是一条已经在被实践的道路。中国从此之中收益颇多,但是不可否认的是 中国也受到了许多挫折。在这样的情况下,深层次的全球对话显得迫切重要。只有 通过对话,中国的声音才会被听到,被理解;通过对话,世界才能与中国求同存异, 寻求共赢。
                在此,哥伦比亚大学中国学生学者联谊会诚挚地邀请您参与第五届哥伦比亚大学 “中国展望论坛”,期待您与不同行业、不同背景的知名演讲嘉宾以及社会精英人士 一起开启中国与世界的对话。
            </p>
        </div>
    </div>

    <div class="row row-centered">
        <div class="col-large-6 col-md-8 col-xs-10 lab-centered">
            <div class="brlabel"></div>
<!--              <span style="position: relative; top: -0.7em;">-->
            <h4><span class="label label-default">HIGHTED SPEAKERS</span></h4>
<!--              </span>-->
        </div>
    </div>
    

    
    <!-- row 3: panels -->
    <div id="panels_section" class="row">
    	<img  src="../static/img/panels.jpg" alt="" class="img-responsive">
    </div><!-- end panels -->
    
        <!-- row 4: agenda -->
    <div id="agenda_section" class="row">
    	<img src="../static/img/agenda.jpg" alt="" class="img-responsive">
    </div><!-- end agenda -->
    
        <!-- row 5: directions -->
    <div id="directions_section" class="row">
    	<img src="../static/img/directions.jpg" alt="" class="img-responsive">
    </div><!-- end directions -->
    
        <!-- row 6: tickets -->
    <div id="tickets_section" class="row">
    	<img src="../static/img/tickets.jpg" alt="" class="img-responsive">
    </div><!-- end tickets -->
    
        <!-- row 7: sponsorship -->
    <div id="sponsorship_section" class="row">
    	<img src="../static/img/sponsorship.jpg" alt="" class="img-responsive">
    </div><!-- end sponsorship -->
    
        <!-- row 8: about -->
    <div id="about_section" class="row">
    	<img src="../static/img/about.jpg" alt="" class="img-responsive">
    </div><!-- end about -->
    
        <!-- row 9: contact -->
    <div id="contact_section" class="row">
    	<img src="../static/img/contact.jpg" alt="" class="img-responsive">
    </div><!-- end contact -->
    
    <!-- row 4 -->
    <footer class="row">
         <p><small>FOLLOW US</small></p>
    </footer>

<!-- /div --> <!-- end container -->

<!-- javascript -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
