<!-- Designed & Developed By ZZYW.CO -->
<!-- A New Media Studio Founded by Yang Wang & Zhenzhen Qi -->
<!-- 2014 @ NYC -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CCPC 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
	
	<script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
	<script src="/static/js/jquery.scrollTo.min.js"></script>
	<script src="/static/js/custom.js"></script>
</head>


<body>
<!-- div class="container" -->
	<!-- row 0: navigation -->
    <div class="row">
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top " role="navigation">
			
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" 
                        data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
			
				
				<div class="collapse navbar-collapse" id="collapse">
						<ul class="nav navbar-nav">
							<li><a href="#theme_section">THEME</a></li>
							<li><a href="#panels_section">PANELS</a></li>
							<li><a href="#agenda_section">AGENDA</a></li>
							<li><a href="#directions_section">DIRECTIONS</a></li>
							<li><a href="#tickets_section">TICKETS</a></li>
							<li><a href="#sponsorship_section">SPONSORSHIP</a></li>
							<li><a href="#about_section">ABOUT</a></li>
							<li><a href="#contact_section">CONTACT</a></li>
						</ul>  
				</div>
			
        </nav>
    </div>
   
    <!-- row 1: landing page -->
    <div class="row">
        <img src="../static/img/landingpage.jpg" alt="" class="img-responsive">
    </div>
    
    <!-- row 2: theme -->
    <div id="theme_section" class="row">
    	<img src="../static/img/theme.jpg" alt="" class="img-responsive">
    </div><!-- end theme -->
    
    <!-- row 3: panels -->
    <div id="panels_section" class="row">
    	<img  src="../static/img/panels.jpg" alt="" class="img-responsive">
    </div><!-- end panels -->
    
        <!-- row 4: agenda -->
    <div id="agenda_section" class="row">
    	<img src="../static/img/agenda.jpg" alt="" class="img-responsive">
    </div><!-- end agenda -->
    
        <!-- row 5: directions -->
    <div id="directions_section" class="row">
    	<img src="../static/img/directions.jpg" alt="" class="img-responsive">
    </div><!-- end directions -->
    
        <!-- row 6: tickets -->
    <div id="tickets_section" class="row">
    	<img src="../static/img/tickets.jpg" alt="" class="img-responsive">
    </div><!-- end tickets -->
    
        <!-- row 7: sponsorship -->
    <div id="sponsorship_section" class="row">
    	<img src="../static/img/sponsorship.jpg" alt="" class="img-responsive">
    </div><!-- end sponsorship -->
    
        <!-- row 8: about -->
    <div id="about_section" class="row">
    	<img src="../static/img/about.jpg" alt="" class="img-responsive">
    </div><!-- end about -->
    
        <!-- row 9: contact -->
    <div id="contact_section" class="row">
    	<img src="../static/img/contact.jpg" alt="" class="img-responsive">
    </div><!-- end contact -->
    
    <!-- row 4 -->
    <footer class="row">
         <p><small>FOLLOW US</small></p>
    </footer>

<!-- /div --> <!-- end container -->

<!-- javascript -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
