		<!-- row 1: navigation -->

		<nav class="navbar navbar-default navbar-inverse center navbar-fixed-top" data-0="opacity:0" data-600="opacity: 1" role="navigation">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/">
					<img id="nav-bar-logo" src="/static/img/ccpc_logo.png" />
				</a>


			</div>

			<div class="collapse navbar-collapse" id="collapse">
				<div class="navbar-inner">
					<ul class="nav navbar-nav">
						<li><a href="/#THEME">THEME</a>
						</li>
						<li><a href="/#PANELS">PANELS</a>
						</li>
						<li><a href="/#AGENDA">AGENDA</a>
						</li>
						<li><a href="/#TICKETS">TICKETS</a>
						</li>
						<li><a href="/directions">DIRECTIONS</a>
						</li>
						<li><a href="/#SPONSORSHIP">SPONSORSHIP</a>
						</li>
						<li><a href="/about">ABOUT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>